@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --mainFont: "Roboto";
    --titleSize: 30px;
    --textSize: 20px;
    --titleBackColor: rgb(176, 213, 224);
    --buttonFocusColor: rgb(108, 216, 182);
}

h1 {
    display: inline-block;
    margin: 0px;
    padding: 15px;
    font-family: var(--mainFont);
    font-size: var(--titleSize);
    background-color: var(--titleBackColor);
}

ul {
    border: 3px solid black;
    padding: 10px;
    list-style-type: none;
}

ul > li {
    margin-bottom: 10px;
    font-family: var(--mainFont);
    font-size: var(--textSize);
    overflow: hidden;
}

ul > li:last-child {
    margin-bottom: 0px;
}

button {
    border-style: none;
    padding: 10px;
    font-family: var(--mainFont);
    font-size: var(--textSize);
    background-color: var(--titleBackColor);
}

button:hover {
    background-color: var(--buttonFocusColor);
}