@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1:first-of-type {
    display: inline-block;
    margin: 0px;
    padding: 15px;
    font-family: "Roboto";
    background-color: rgb(207, 221, 225);
}

ul:first-of-type {
    border: 5px solid black;
    min-height: 100px;
    padding: 10px;
}

button:last-of-type {
    border-style: none;
    padding: 10px;
    font-family: "Roboto";
    font-size: 20px;
    background-color: rgb(146, 197, 223);
}

button:last-of-type:hover {
    background-color: rgb(55, 198, 174);
}

ul:first-of-type > div {
    margin: 0px 0px 10px 0px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

ul:first-of-type > div:last-child {
    margin: 0px;
}

ul:first-of-type > div > p:first-child {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
}